# SQL Assignment - 03

#### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [ ]:
# app1
select RTRIM(first_name) as first_name FROM worker;

In [ ]:
# app2
select REPLACE(first_name, " ", "")  as first_name FROM worker;

#### Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [ ]:
select DISTINCT(department),LEN(department) from worker;

#### Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
# app1 

select salary from (select row_number() over(order by salary) as r_w, salary from worker) where r_w == n;

In [ ]:
#app2 

select salary from worker order by salary desc limit 1 offset n;