# SQL Assignment - 04

#### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [ ]:
select REPLACE(first_name, "a", "A") as first_name from worker;

#### Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
select * from Worker order by first_name asc, last_name desc;

#### Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
# app1
select name from (select name, row_number() over(order by salary desc) as r_n from worker) where r_n=1;

In [ ]:
#app2
select name from worker where salary = (select MAX(salary) from worker);