# Assignment 09 Solutions

#### Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * from table_name limit n;

#### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select salary as highest_salary from (select *, row_number() over(order by salary desc) from table_name) as sub_query

In [ ]:
SELECT TOP 10 * FROM Worker; #Top Keyword is not supported by Many Popular Databases  
SELECT * FROM Worker LIMIT 10;

In [ ]:
**Ans:** `SELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;`