## Assignment 10 Solutions

#### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
select salary from table_name order by salary desc limit 1 offset 5

#### Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
select * from table where salary in (select salary from table group by salary having count(salary) > 1);